<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<header>
    <h1>UMD Food Reviews</h1>
    <p><i>Local restaurant reviews for students at the University of Maryland</i></p>
    <br>
    <div class="nav">
        <div>
            <a id="navbar" href="/endpoint1">Endpoint1</a>
            <a id="navbar" href="/endpoint2">Endpoint2</a>
            <a id="navbar" href="/endpoint3">Endpoint3</a>
            <a id="navbar" href="/endpoint4">Endpoint4</a>
            <a id="navbar" href="/endpoint5">Endpoint5</a>
            <a id="navbar" href="/endpoint6">Endpoint6</a>
            <a id="navbar" href="/endpoint7">Endpoint7</a>
            <a id="navbar" href="/endpoint8">Endpoint8</a>
            <a id="navbar" href="/endpoint9">Endpoint9</a>
            <a id="navbar" href="/endpoint10">Endpoint10</a>
        </div>
    </div>
</header>
<input id="search" type="text" onkeyup="search()" placeholder="Search by restaurant"></input>
<body>
  <button type="button" id="createNew">Add a restaurant</button> {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    $('#createNew').on('click', function() {
      window.location.href = "/addRestaurant";
    });
  </script>
</body>

</html>