<div class="title-container">
    <h2>About</h2>
    <br></br>
    <p>
        Created by Egor Reznikov, Sean Chapman, and Deep Patel.
        UMD Food Reviews provides fresh reviews for local restaurants.
    </p>
</div>