<article>
    <form method="POST" action="/create">
        <div class="input-field">
            <label>Restaurant Name:</label>
            <input type="text" name="title" size="50" placeholder="Marathon Deli...">
        </div>
        <div class="input-field">
            <label>Description:</label>
            <textarea type="text" size="50" name="content" rows="5" placeholder="Greek/American fast casual..."></textarea>
        </div>
         <div class="input-field">
            <label>Hours:</label>
            <input type="text" name="hours" size="50" placeholder="10AM - 3AM">
        </div>
        <div class="input-field">
            <label>Cuisine:</label>
            <input type="text" name="cuisine" size="50" placeholder="Greek/American">
        </div>
        <div class="input-field">
            <label>Price Range:</label>
            <input type="text" name="pricerange" size="50" placeholder="1, 2, or 3...">
        </div>
        <button type="submit">Create Restaurant </button>
    </form>
</article>