<article>
    <form method="POST" action="/create">
        <div class="input-field">
            <label>Restaurant Name:</label>
            <input type="text" name="title" size="50" placeholder="Marathon Deli...">
        </div>
         <div class="input-field">
            <label>Blog Slug:</label>
            <input type="text" name="slug" size="50" placeholder="blog-title">
        </div>
        <div class="input-field">
            <label>Blog Tags:</label>
            <input type="text" name="tags" size="50" placeholder="Tag1 Tag2 Tag3 (seperated by spaces)">
        </div>
        <div class="input-field">
            <label>Description:</label>
            <textarea type="text" size="50" name="content" rows="5" placeholder="Greek/American fast casual..."></textarea>
        </div>
        <button type="submit">Create Blog Post </button>
    </form>
</article>