<div class="reviewsform">
    <article>
        <form method="POST" action="/restaurant/{{data.name}}/createReview">
            <div class="input-field">
                <label>Review:</label>
                <textarea type="text" size="50" name="review" rows="5" placeholder="WOW, this is so..."></textarea>
            </div>
            <div class="input-field">
                <label>Rating: (Whole Numbers)</label>
                <input type="number" name="rating" min="0" max="10" size="50" placeholder="0-10">
            </div>
            <div class="input-field">
                <label>Author:</label>
                <input type="text" name="author" size="50" placeholder="John Appleseed">
            </div>
            <button class="testbutton" type="submit">Submit</button>
        </form>
    </article>
</div>