<div class="reviewCard">
        <div class="reviewHead">
            <h4><b>Author: {{this.author}}</b></h4>
            <p>Rating: {{this.rating}}/10</p>
            <button type="button" id="removeRev">Delete Review</button>
        </div>
        <div class="reviewContent">
            <p>{{this.review}}</p>
        </div>
        <br></br>
    </div>